body
{
 background-color:green;
 border:solid 10px black;
}
h1
{
font-size:20px;
color:black;
}
h2
{
color:black;
}
.intro
{
 color: black;
 background-color:white;
}
#page
{
	border:solid 10px black;
	widhth:960px;
	margin: 0 auto;
	padding: 25px
}